.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14.5rem;
  height: 2.7rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: white !important;
  white-space: nowrap;
  box-shadow: 0 4px 4px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  }
}